*{
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
  }
  body{
    margin: 0;
    padding: 0;
  }
  h1,h2,h3,h4,h5,h6{
    margin-top: 0;
  }
  p{
    margin-top: 0;
  }
  ul , ol {
    padding: 0;
  }
  /* Container Class*/
  
  
  /* calc() */
  
  .container{
    max-width:calc(100% - 10%);
    margin: 0px auto;
  }
  
  /* Sandbox Start */
  .navigationbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navigationbar .nav-items ul li{
    display: inline-block;
    padding:3px 22px;
  }
  .menu-co{
    display: flex;
  }
  .total-menu{
    display: flex;
    align-items: center;
  }
  
  .contact{
    margin-left: 50px;
  }

  .tooltip{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tooltip a{
  text-decoration: underline dotted;
  color:black;
  text-underline-offset: 10px;
  font-size: 30px;
  font-weight: 900;
  }
  
  .massage{
    width:fit-content;
    background-color: black;
    color:white;
    padding: 20px 30px;
    font-weight: bold;
    display: none;
    position: absolute;
    top:230px;
    left: 0;
    right: 0;
    margin: auto  ;
    border-radius: 10px;
  }
  
  /* On hover */
  
  .tooltip a:hover .massage{
    display: block;
  }
  
  /* On click */
  
  .tooltip a:focus .massage{
    display: block;
  }
  
  .square{
    height: 30px;
    width: 30px;
    background-color: black;
    position: absolute;
    left: inherit;
    right: inherit;
    margin: inherit;
    bottom: -15px;
    transform: rotate(45deg);
  }

  .contact{
    color: white;
    padding: 0.5em 1.7em;
    font-family: Urbanist, sans-serif;
    font-size: 0.8rem;
    border-radius: 20px;
    background-color: rgba(94,185,240,255);
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: bold;
    transition: scale 0.2 ease;
  }
  .contact:hover{
    color:white;
    scale: 1.05;
  }
  .contact:active{
    scale: 0.95;
  }
  .fa-bars{
    margin-top:15px;
  }