.div-container {
    position: relative;
    display:flex;
    justify-content: center;
    margin-bottom: 300px;
  }

  .div {
    background-color: red;
    height: 100px;
    margin-bottom: 30px;
    width: 100px;
    position: absolute;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    align-items: center;
    color: white;
    font-size: 50px;
    text-align: center;
    display:flex;
    justify-content: center;
    /* animation-iteration-count: infinite; */
  }
  .div:nth-child(0)
  { animation-name: d0; animation-delay: 0s; z-index: 1; }
  .div:nth-child(1)
  { animation-name: d0; animation-delay: 0s; z-index: 2; }
  .div:nth-child(2)
   { animation-name: d1; animation-delay: 2s; z-index: 3; }
  .div:nth-child(3)
   { animation-name: d2; animation-delay: 4s; z-index: 4; }
  .div:nth-child(4)
   { animation-name: d3; animation-delay: 6s; z-index: 5; }
  .div:nth-child(5)
   { animation-name: d4; animation-delay: 8s; z-index: 6; }
  .div:nth-child(6)
   { animation-name: d5; animation-delay: 10s; z-index: 7; }
  .div:nth-child(7) 
  { animation-name: d6; animation-delay: 12s; z-index: 8; }

  @keyframes d0 { 100% { opacity: 1; } }
  @keyframes d1 { 100% { opacity: 1; } }
  @keyframes d2 { 100% { opacity: 1; } }
  @keyframes d3 { 100% { opacity: 1; } }
  @keyframes d4 { 100% { opacity: 1; } }
  @keyframes d5 { 100% { opacity: 1; } }
  @keyframes d6 { 100% { opacity: 1; } }
  @keyframes d0 { 100% { opacity: 1; } }