.maindiv{
    height:700px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.box{
    height:500px;
    width:700px;
    /* border: solid black; */
    display: block;
    position: fixed;
    background-color:skyblue;
    /* margin-top:300px;
    margin-left:50px; */
}
 .hill{
    height:257px;
    width:700px;
    margin-top:250px;
    
} 
.c1 img{
    height:200px;
    position: absolute;
    left:500px;
    animation-name:cl1;
    animation-duration:15s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    z-index:-25;
} 
.c2 img{
    height:200px;
    position: absolute;
    left:300px;
    top:50px;
    animation-name:cl2;
    animation-duration:20s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    z-index:-25;
} 
.c3 img{
    height:200px;
    position: absolute;
    left:100px;
    top:20px;
    animation-name:cl3;
    animation-duration:20s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    z-index:-25;
} 

.sun{
    height:100px;
    width:100px;
    display: block;
    position:absolute;
    border-radius: 100%;
    animation-name:sun1;
    animation-duration:20s;
    animation-iteration-count:5;
    animation-delay:3s;
    animation-timing-function:linear;
    margin-left:500px;
    z-index:-25;
    /* animation:alternate-reverse; */
}
 @keyframes sun1 {
    0%{
        transform: translatey(0px);
        background-color: yellow;
    }
     50%{
        transform:translatey(400px);
        background-color: rgb(187, 187, 6);
    } 
    100%{
        transform:translatey(0px);
        background-color: yellow;
    }
} 
@keyframes cl1 {
    0%{
        transform: translatex(0px);
    }
    50%{
        transform:translatex(-520px);
    }
    100%{
        transform:translatex(0px);
    }
} 
@keyframes cl2 {
    0%{
        transform: translatex(0px);
    }
    50%{
        transform:translatex(220px);
    }
    80%{
        transform:translatex(-300px);
    }
    100%{
        transform:translatex(0px);
    }
} 
@keyframes cl3 {
    0%{
        transform: translatex(0px);
    }
    50%{
        transform:translatex(-140px);
    }
    80%{
        transform:translatex(300px);
    }
    100%{
        transform:translatex(0px);
    }
} 
