
.maindiv{
    height: 200px;
    width: 1300px;
    display: flex;
     background-color: rgb(215, 215, 215);
     align-items: center;
     border:solid black;
     justify-content: flex-start;
     margin: 100px;
     flex: shrink 1;
}

.box-1{
    height: 150px;
    width: 150px;
    border:solid black;
    font-size: 50px;
    color:rgb(0, 0, 0);
    
}
.box-2{
    height: 150px;
    width:150px;
    border:solid black;
    font-size: 50px;
    color:rgb(0, 0, 0);
}
.box-3{
    height: 150px;
    width:150px;
    border:solid black;
    font-size: 50px;
    color:rgb(0, 0, 0);
}
.maindiv2{
    height: 200px;
    width: 1300px;
    display: flex;
     background-color: rgb(215, 215, 215);
     align-items: center;
     border:solid black;
     justify-content: flex-start;
     margin: 100px;
     flex-grow: 1;
}
.box-4{
    height: 150px;
    width: 250px;
    border:solid black;
    font-size: 50px;
    color:rgb(0, 0, 0);
    
}
.box-5{
    height: 150px;
    width:150px;
    border:solid black;
    font-size: 50px;
    color:rgb(0, 0, 0);
}
.box-6{
    height: 150px;
    width:150px;
    border:solid black;
    font-size: 50px;
    color:rgb(0, 0, 0);
}