$d-flex:flex;

$justify-center:center;
$justify-between:space-between;
$justify-around:space-around;
$justify-evenly:space-evenly;

$align-center:center;
$align-end:end;

$inline-block:block;
$inli-b:inline-block;

$position-ad:absolute;
